.header-bg {
  background-image: url('../assets/Header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40vh;
  width: 100%;
  padding: 40px;
  color: white;
}

h1 {
  font-size: 2rem;
}